:root {
  --background: lab(98.8218% 1.68407 3.32758);
  --foreground: lab(3.0141% 2.152 2.93914);
  --primary: lab(12.9057% 5.79391 10.6146);
  --primary-foreground: lab(98.8218% 1.68407 3.32758);
  --christmas-red: lab(46.3104% 47.2106 27.79);
  --christmas-green: lab(38.096% -49.2833 25.6588);
  --christmas-gold: lab(71.2019% 8.24577 52.3464);
}

.slidev-layout {
  position: relative;
  height: 100%;
  color: var(--primary);
  background: var(--primary-foreground);
  border-radius: 1rem;
  padding: 3rem;
  overflow: hidden;

  h1 {
    display: inline-block;
    font-size: 3rem;
    padding-top: 3rem;
    line-height: 1.25;
    font-weight: 900;
    color: var(--christmas-red);
  }

  h1 + p {
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--christmas-green);
  }
  
  h2 {
    color: var(--christmas-red);
    margin-bottom: 3rem;
    font-weight: 700;
  }

  h3 {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 500;
    margin-left: -0.05em;
  }

  h3:not(.opacity-100) {
    opacity: 0.6;
  }

  p, ul, li {
    font-size: 1.25rem;
    line-height: 1.75;
  }
}

.slidev-layout.cover,
.slidev-layout.intro {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  box-shadow: none;
}

.layout-background {
  z-index: -1;
  transform: scale(1.001);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.slidev-layout.fact {
  text-align: center;
  display: grid;
  height: 100%;
}

.slidev-layout.statement {
  text-align: center;
  display: grid;
  height: 100%;

  h1 {
    font-size: 3.75rem;
    line-height: 1.1;
    font-weight: 700;
    color: var(--christmas-gold);
  }
}

.slidev-layout.quote {
  display: grid;
  height: 100%;
  border-left: 8px solid var(--christmas-red);
  padding-left: 3rem;

  h1 + p {
    margin-top: 0.5rem;
  }
}

.slidev-layout.section {
  h1 {
    font-size: 3.75rem;
    line-height: 5rem;
    font-weight: 500;
  }

  &::after {
    content: "";
    display: block;
    margin-top: 1.5rem;
    width: 6rem;
    height: 0.25rem;
    border-radius: 9999px;
    background: var(--christmas-green);
  }
}

